# Dépendances
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Next.js
.next
out

# Git
.git
.gitignore

# Environnement
.env*.local
.env

# Tests
coverage
.nyc_output

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml