services:
  db:
    image: postgres:17-alpine
    container_name: romantcham-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-romantcham}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-c*********s}
      POSTGRES_DB: ${POSTGRES_DB:-romantcham_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-romantcham} -d ${POSTGRES_DB:-romantcham_db}"]
      interval: 5s
      timeout: 5s
      retries: 5
      
  migrate:
    build:
      context: .
      target: builder
    container_name: romantcham-migrate
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://romantcham:${POSTGRES_PASSWORD:-romantcham_secret}@db:5432/romantcham_db?schema=public
    command: npx prisma migrate deploy
    networks:
      - app-network
    restart: "no"

  home:
    build: ./home
    container_name: home
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - NEXTAUTH_URL=https://romantcham.fr
      - NEXTAUTH_SECRET=Y************Q5
      - GOOGLE_CLIENT_ID=6**********3l.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=G*****************mr
      - ADMIN_GMAIL=*******@gmail.com
      - DATABASE_URL=postgresql://romantcham:${POSTGRES_PASSWORD:-c**********s}@db:5432/romantcham_db?schema=public
    group_add:
      - 996
    networks:
      - app-network

  vert:  #un autre service dont on ne s'occupe pas ici
    container_name: vert
    image: ghcr.io/vert-sh/vert:latest
    build:
      context: ./VERT
      args:
        PUB_HOSTNAME: ${PUB_HOSTNAME:-localhost:5173}
        PUB_PLAUSIBLE_URL: ${PUB_PLAUSIBLE_URL:-}
        PUB_ENV: ${PUB_ENV:-production}
        PUB_DISABLE_ALL_EXTERNAL_REQUESTS: ${PUB_DISABLE_ALL_EXTERNAL_REQUESTS:-false}
        PUB_VERTD_URL: ${PUB_VERTD_URL:-}
        PUB_DONATION_URL: ${PUB_DONATION_URL:-https://donations.vert.sh}
        PUB_STRIPE_KEY: ${PUB_STRIPE_KEY:-pk_live_51RDVmAGSxPVad6bQwzVNnbc28nlmzA30krLWk1fefCMpUPiSRPkavMMbGqa8A3lUaOCMlsUEVy2CWDYg0ip3aPpL00ZJlsMkf2}
    restart: unless-stopped
    ports:
      - "3001:80"

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge