services:
  app:
    build: .
    container_name: romantcham-app
    restart: unless-stopped
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL:-http://localhost:3000}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      NODE_ENV: production
    ports:
      - "3000:3000"
    networks:
      - app-network
    volumes:
      # Pour le socket Docker (si vous voulez garder DockerLogs)
      - /var/run/docker.sock:/var/run/docker.sock:ro
