@import "tailwindcss";

:root {
  --background: #e1e1e1;
  --background_2: #aba9a9;
  --background_3: #989898;
  --foreground: #000000;
}

.dark {
  --background: #080808;
  --background_2: #141414;
  --background_3: #383838;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-background_2: var(--background_2);
  --color-background_3: var(--background_3);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
}

header {
  background-color: var(--color-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
